.cont{
	width:55%;
	height:635px;
	float: right;

}
.cont p{
	font-size: 20px;
	color: white;
	margin-left: 20px;
	margin-top: 30px;

}
.field{
	width:70%;
	height:40px;
	border-radius: 5px;
	background-color: grey;
	border: 0.1px solid grey;
	padding-left: 10px;
	margin-left: 20px;
	margin-top: -15px;
}
.formfields{
	width:100%;
	height: 350px;
	margin-top: 70px;
}
.total{
	width:40%;
	height:120px;
}
.total p{
	color: white;
	margin-top: 10px;
	font-size: 45px;
	font-weight:500;
}
.total h1{
	color: white;
	font-size: 18px;
	font-weight: 400;
	margin-left: 20px;
}
.btn{
	width:70%;
	height:40px;
	margin-left: 20px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: red;
	color:black;
	font-weight: 500;
	font-size: 17px;
}