.home{
	width:94.67%;
	float: right;
	background-color: black;
	border:1px solid black;
	margin-top: 30px;
	height: 610px;
}
.home h1{
	font-size: 45px;
	color: white;
	text-align: center;
	margin-top: 30px;
	font-weight:500;
	font-family: oxygen;

}
.img{
	float: right;
}
.disc{
	float: left;
	width:50%;
	height:400px;
	margin-top:60px;
}
.disc p{
	font-size: 20px;
	color: white;
	margin-left: 25px;
	font-weight: 100;
}
.info{
	width:94.67%;
	height: 639px;
	float: right;
	margin-top: 50px;
}
.info h1{
	font-size: 50px;
	margin-top: 80px;
	margin-left: 25px;
	font-family: oxygen;
}
@media (max-width: 700px){
	.disc{
		display: none;
	}
}
@media (max-width: 600px){
	.home{
		height: 650px;


	}
	.home h1{
		font-size: 30px;
		text-align: center;
		margin-right: 15px;
	}
	.disc{
		display: none;
	}
	.info h1{
		font-size: 40px;
	}
}
@media (max-width: 450px){
	.img{
		float:left;
		margin-left: -20px;
		width: 95%;

	}
}