.container{
	height: 1200px;
	width: 95%;
	float: right;
	margin-top: 40px;
	background-color: black;

}
.container h1{
	color:white;
	margin-left: 50px;
	margin-top: 60px;
	font-size: 60px;
	font-weight: 500;
	font-family: oxygen;
}
@media (max-width: 600px){
	.container{
		width: 100%;
		height: 3000px;


	}
	.container h1{
		margin-left: 30px;
		font-size: 50px;
	}


}