.sidebar{
	border: 0.1px solid #5E5E5E;
	height:100%;
	width:65px;
	background-color: #5E5E5E;
	float: left;
	position: fixed;

}
.logo{
	width: 90%;
	height: 50px;
	margin-top: 40px;
	margin-bottom: 100px;
	margin-left: 2.5%;

}
.nav{
	border: 1px solid transparent;
	width: 67px;
	height: 60px;
	margin-top: 15px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;


}
.icon{
	margin-left: 5px;
	margin-top: 5px;
}
.image{
	width:95%;
	height:85%;
	margin-top: 2.5%;
	margin-left: 2.5%;
}

.count{
	border:1px solid red;
	border-radius: 20px;
	width:20px;
	height: 20px;
	margin-bottom: -15px;
	float: right;
	margin-right: 5px;
	background-color: red;
}
.count p{
	color:white;
	text-align: center;

}
@media (max-width: 600px){
	.sidebar{
		width:100%;
		height:70px;
		position: relative;
	}
	.nav{
		display: inline-block;
		margin-top: 10px;
		margin-left: 8%;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		border-bottom-left-radius:0px;
		padding-left: 3px;



	}
	.logo{
		display: inline-block;
		height: 90%;
		width:70px;
		margin-top: 0px;
	}

}
@media (max-width: 540px){
	.nav{
		display: inline-block;
		margin-top: 0px;
		margin-left: 5%;


	}
	.logo{
		display: inline-block;
		height: 90%;
		width:60px;
		margin-top: 0px;
	}
}
@media (max-width: 430px){

.nav{
		display: inline-block;
		margin-top: 10px;
		margin-left: 3%;


	}
}
@media (max-width: 390px){
	.nav{
	margin-left: 1%;
	margin-top: 9px;

}

}